# ------------------------------
# Visual Studio
# ------------------------------
.vs/
*.user
*.suo

# ------------------------------
# .NET / ASP.NET
# ------------------------------
bin/
obj/
*.db
*.sqlite

# ------------------------------
# Node / React
# ------------------------------
node_modules/
dist/
build/

# ------------------------------
# Logs
# ------------------------------
*.log

# ------------------------------
# OS files
# ------------------------------
.DS_Store
Thumbs.db

# ------------------------------
# Environment variables
# ------------------------------
.env
